<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">ユーザー詳細ページ</h1>
            <p class="lead">ここには登録ユーザーの詳細が表示されます。</p>
            <p class="lead">また、登録内容の変更をすることもできます</p>
        </div>
    </div>
    <% @user.errors.full_messages.each do |message| %>
        <div class="alert alert-danger" role="alert">
            <%= message %>
        </div>
    <% end %>
    <%= form_tag("/users/#{@user.id}/update", {multipart:true}) do %>
        <p>名前</p>
        <input value="<%= @user.name %>" name="name">
        <P>Emailアドレス</P>
        <input value="<%= @user.email %>" name="email">
        <P>ユーザー画像</P>
        <p>JPEG画像のみアップロードできます</p>
        <input name="image" type="file">       
        <P>パスワード</P>
        <input value="<%= @user.password %>" name="password">
        <button type="submit" class="btn btn-primary">内容を変更する</button>
    <% end %>
</div>