<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">ユーザー詳細ページ</h1>
            <p class="lead">ここには登録ユーザーの詳細が表示されます。</p>
            <p class="lead">また、登録内容の変更をすることもできます</p>
        </div>
    </div>
    <% if flash[:notice] %>
        <div class="alert alert-success" role="alert">
          <%= flash[:notice] %>
        </div>
    <% end %>
    <div class="card" style="width: 18rem;">
        <img src="
            <% if @user.user_image %>
                <%= "/user_images/#{@user.user_image}" %>
            <% else %>
                <%= "/user_images/kitten.jpg" %>
            <% end %>
            " class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><%= @user.name %></h5>
            <p class="card-text"><%= @user.email %></p>
            <a href="/users/index" class="btn btn-primary">ユーザー一覧へ</a>
            <% if @user.id == @current_user.id %>
                <%= link_to "/users/#{@user.id}/edit" do %>
                <button type="button" class="btn btn-success">編集</button>
                <% end %>
                <a href="#" class="btn btn-danger">削除</a>
            <% end %>
        </div>
    </div>
    <h1><%= @user.name %>さんの投稿</h1>
    <ul class="list-group">
        <% @user.posts.each do |post| %>
            <li class="list-group-item">
                <div class="media">
                    <img src="<%= "/user_images/#{post.user.user_image}" %>" width="64px" class="mr-3" alt="...">
                    <div class="media-body">
                        <h5 class="mt-0"><%= post.user.name %></h5>
                        <%= link_to(post.content, "/posts/#{post.id}/edit" ) %>
                    </div>
                </div>
            </li>
        <% end %>
    </ul>
</div>