<!DOCTYPE html>
<html>
  <head>
    <title>Tweetapp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <%= link_to("Tweetapp","/", {class: "navbar-brand"}) %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to("HOME","/", {class: "nav-link"}) %>
          </li>
          <li class="nav-item">
            <%= link_to '投稿一覧', '/posts/index', class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'ユーザー一覧', '/users/index', class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to("新規投稿", "/posts/new", {class: "nav-link"}) %>
          </li>
          <li class="nav-item">
            <%= link_to("新規ユーザー登録", "/users/new", {class: "nav-link"}) %>
          </li>
          <li class="nav-item">
            <%= link_to("TweetAppについて", "/about", {class: "nav-link"}) %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              まだ使えないドロップボタン
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">まだ使用できません</a>
              <a class="dropdown-item" href="#">現在は</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">新規投稿だけできます</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="wrapper">
      <%= yield %>
    </div>
  </body>
</html>
